.icon-list div:hover, .ionicon-list i, .log-in-detail a, .portlet, .profile-widget, .widget-style-1 i {
	-webkit-transition: all 220ms ease-in-out;
	-moz-transition: all 220ms ease-in-out;
	-o-transition: all 220ms ease-in-out;
	transition: all 220ms ease-in-out
}
.bx-s, .mini-stat, .nav.nav-tabs+ .tab-content, .panel, .portlet, .profile-widget, .profile-widget img, .tabs-vertical-env .tab-content, .tile-stats, .tiles, .widget-panel {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 220ms ease-in-out 0s;
}
.bx-s:hover, .mini-stat:hover, .nav.nav-tabs:hover+ .tab-content:hover, .panel:hover, .portlet:hover, .profile-widget:hover, .profile-widget:hover img, .tabs-vertical-env:hover .tab-content:hover, .tile-stats:hover, .tiles:hover, .widget-panel:hover {
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 220ms ease-in-out 0s;
}
.br-radius, .portlet, .tile-stats, .tiles {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}
.p-0 {
	padding: 0 !important
}
.p-t-0 {
	padding-top: 0 !important
}
.p-t-10 {
	padding-top: 10px !important
}
.p-b-5 {
	padding-bottom: 5px !important
}
.p-b-10 {
	padding-bottom: 10px !important
}
.m-5{
	margin: 5px;
}
.m-0 {
	margin: 0 !important
}
.m-0-a {
	margin: 0 auto !important
}
.m-r-0 {
	margin-right: 0px
}
.m-r-5 {
	margin-right: 5px
}
.m-r-10 {
	margin-right: 10px
}
.m-r-15 {
	margin-right: 15px
}
.m-l-0 {
	margin-left: 0px
}
.m-l-10 {
	margin-left: 10px !important
}
.m-l-15 {
	margin-left: 15px
}
.m-l-30 {
	margin-left: 30px
}
.m-t-5 {
	margin-top: 5px !important
}
.m-t-0 {
	margin-top: 0
}
.m-t-10 {
	margin-top: 10px !important
}
.m-t-15 {
	margin-top: 15px
}
.m-t-20 {
	margin-top: 20px
}
.m-t-25 {
	margin-top: 25px
}
.m-t-30 {
	margin-top: 30px !important
}
.m-t-40 {
	margin-top: 40px !important
}
.m-b-0 {
	margin-bottom: 0
}
.m-b-5 {
	margin-bottom: 5px
}
.m-b-10 {
	margin-bottom: 10px
}
.m-b-15 {
	margin-bottom: 15px
}
.m-b-20 {
	margin-bottom: 20px
}
.m-b-25 {
	margin-bottom: 25px
}
.m-b-30 {
	margin-bottom: 30px
}
.w-100{
	width: 100% !important;
}
.w-xs {
	min-width: 80px
}
.w-sm {
	min-width: 95px
}
.w-md {
	min-width: 110px
}
.w-lg {
	min-width: 140px
}
.thumb-sm {
	height: 32px;
	width: 32px
}
.thumb-sm img {
	height: auto;
	max-width: 100%;
	vertical-align: middle
}
.thumb-xs {
	height: 24px;
	width: 24px
}
.thumb-md {
	width: 64px;
	height: 64px
}
.thumb-lg {
	height: 84px;
	width: 84px
}
.text-xs {
	font-size: 12px
}
.text-sm {
	font-size: 16px
}
.text-md {
	font-size: 20px
}
.text-lg {
	font-size: 24px !important
}
.m-h-50 {
	min-height: 50px
}
.l-h-34 {
	line-height: 34px
}
.font-light {
	font-weight: 300
}
.wrapper-md {
	padding: 20px
}
.pull-in {
	margin-left: -15px;
	margin-right: -15px
}
.b-0 {
	border: none !important
}
.dropcap {
	font-size: 3.1em
}
.w-50{
width: 50% !important;
}
.w-30{
	width: 30% !important;
}
.dropcap, .dropcap-circle, .dropcap-square {
	display: block;
	float: left;
	font-weight: 400;
	line-height: 36px;
	margin-right: 6px;
	text-shadow: none
}
.cr-styled {
	display: inline-block;
	margin: 0 2px;
	line-height: 20px;
	font-weight: 400;
	cursor: pointer
}
.cr-styled i {
	display: inline-block;
	height: 18px;
	width: 18px;
	cursor: pointer;
	vertical-align: middle;
	border: 2px solid #CCC;
	border-radius: 3px;
	text-align: center;
	padding-top: 1px;
	font-family: FontAwesome;
	margin-top: -4px;
	margin-right: 3px;
	font-size: 12px
}
.cr-styled input {
	visibility: hidden;
	display: none
}
.cr-styled input[type=checkbox]:checked+ i:before {
	content: "\f00c"
}
.cr-styled input[type=radio]+ i {
	border-radius: 18px;
	font-size: 11px;
	line-height: 13px
}
.cr-styled input[type=radio]:checked+ i:before {
	content: "\f111"
}
.cr-styled input:checked+ i {
	border-color: #3a4a87;
	color: #3a4a87
}
.b-s-l-0{
	box-shadow: 0;
}
.icon-list div {
	line-height: 40px;
	white-space: nowrap;
	cursor: pointer
}
.icon-list i {
	display: inline-block;
	width: 40px;
	margin: 0;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: font-size .2s;
	transition: font-size .2s
}
.ionicon-list i {
	font-size: 16px
}
.icon-list .col-md-3:hover i, .ionicon-list .col-md-3:hover i {
	moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2)
}
.grid-structure .grid-container {
	background-color: #e6eaed;
	padding: 10px 20px;
	margin-bottom: 10px
}
.fileUpload {
	position: relative;
	overflow: hidden
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0)
}@-moz-document url-prefix(){.cr-styled i{padding-top:0}label{font-weight:600}}
.b-0{
	border: none;
}
.pointer { cursor: pointer; cursor: hand; }
.hidden-text{
    /* position: absolute;
    top: 0px;
    opacity: 0;
    font-size: 1px; */
}
blockquote{
	font-size: 16px;
}
.nowrap{
	white-space: nowrap;
}
.select2-container{
	width: 100% !important;
}
#subtask li.checked label {
    text-decoration: line-through;
}
/* КОММЕНТАРИИ */
#editModal .modal-footer{
	text-align: inherit !important;
}
.post{
	background-color: #FFF;
    padding: 15px;
    padding-bottom: 0px;
}
.post:last-child{
	margin-bottom: 0px;
}
.post > div{
	
}
.post > div > a{
    text-decoration: none !important;
}
.post > div > a > img{
	width: 40px;
    margin-right: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;	
}
.post > div > p{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 19px;
}
.post > div > p > a{
	
}
.post > div > p > a:hover{
	
}
.post > div > p > span{
	
}
.post > p{
	font-size: 14px;
}
.blank{
    width: 100%;
    height: 300px;
    background-color: #CED4DA;
}
.post small{
	margin-right: 25px;
}
.post textarea{
	min-height: 50px !important;
}