/*фиксированное плавающее меню*/
.top_nav{
   top: 144px; /*высота шапки в пикселях*/
   position: fixed;
   z-index: 100;
   right: 26px;
}
.left_nav{
   background: #ddd;
}
/*Для поиска*/
.grp_search{
   position: absolute !important;
   right: 0px;
   bottom: 0px;
   /*border-bottom-right-radius: 20px;*/
   /*border-top-right-radius: 20px;*/
}
button.btn_search_select{
   /*position: absolute;*/
   /*right: 1px;*/
   /*bottom: 1px;*/
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
}
