@media (min-width:769px){aside.left-panel.collapsed{width:75px;text-align:center}aside.left-panel.collapsed+.content{margin-left:75px}aside.left-panel.collapsed .user .user-login,aside.left-panel.collapsed span.nav-label{display:none}aside.left-panel.collapsed .navigation>ul>li>a{padding:20px}aside.left-panel.collapsed i.fa{font-size:22px}aside.left-panel.collapsed .navigation>ul>li.has-submenu:after{display:none}}@media (min-width:769px){aside.left-panel.collapsed .navigation ul li ul{position:absolute;z-index:3;left:100%;top:0;background-color:#162338;box-shadow:none;padding:10px 0;min-width:200px}aside.left-panel.collapsed .navigation>ul>li:hover>ul{display:block!important}aside.left-panel.collapsed .navigation ul li ul li a{border:0;color:#b4b6bd;padding:8px 25px 8px 40px}aside.left-panel.collapsed .navigation ul li ul li a:hover{color:#fff}}@media (max-width:768px){aside.left-panel.collapsed{width:250px;left:0;overflow:hidden!important}aside.left-panel.collapsed+.content{margin-left:0;transform:translate3d(250px,0,0);-ms-transform:translate3d(250px,0,0);-webkit-transform:translate3d(250px,0,0);-moz-transition:translate3d(250px,0,0);-o-transition:translate3d(250px,0,0)}aside.left-panel{left:100%}section.content{margin-left:0}.content>.container-fluid{padding-left:15px;padding-right:15px}.page-header h1{margin-top:0}}@media (max-width:450px){.dropdown .extended i,.username{display:none}}
@media (max-width:769px){
	aside.left-panel.collapsed{
		overflow-y: scroll !important;
	}
}