/*
 * Admina By DownTown Themes
 *
 *  */

/* Basic Elements */
body {
	color: #797979;
	background-color: #edf0f0;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 14px;
/*	position: relative;*/
	height: 100%;
}
body, html {
	height: 100%;
	overflow-x: hidden;
}
/* Aside Menu */
aside.left-panel {
	background-color: #ffffff;
	width: 230px;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	padding-top:10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
}
aside.left-panel.collapsed {
	overflow: visible !important;
	position: absolute;
	bottom: 0;
}
aside.left-panel.lg {
	width: 250px;
}
aside.left-panel.lg+ .content {
	margin-left: 250px;
}
aside:not(.collapsed) .navigation ul li.active ul {
	display: block;
}

.nav.nav-tabs+ .tab-content, .tabs-vertical-env .tab-content {
	background: #FFF;
	padding: 30px;
	margin-bottom: 30px;
}
.nav.nav-tabs > li.active > a, .tabs-vertical-env .nav.tabs-vertical li.active > a {
	border: 0;
	background-color: #fff;
	border-top: 2px solid #3A4A87;
}
.nav.nav-tabs > li > a {
	border: none;
	background-color: #F9F9F9;
	margin-right: 5px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	border-radius: 0;
}
.nav.nav-tabs > li:last-of-type a {
	margin-right: 0;
}
.nav.nav-tabs {
	border-bottom: 0;
	background: #F9F9F9;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover, .tabs-vertical-env .nav.tabs-vertical li.active > a {
	border: none;
	border-left: 2px solid #00ACED;
	width: 100%;
}

/*Logo style */
.logo {
	padding-top:10px;
	float:left;;
}
.logo img{
	width: 42px;
}
.logo-expanded {
	font-size: 20px;
	letter-spacing: .05em;
	color: #fff !important;
	/*padding: 0 30px 0 10px;*/
	font-weight: 700;
	text-transform: uppercase;
}
.logo-expanded span {
	vertical-align: middle;
	font-weight: 300;
	font-size: 16px;
}

/* Navigation */
.navigation {
	margin: 50px 0 20px;
}
.navigation > ul > li {
	position: relative;
}
.navigation > ul > li.active.has-submenu:after, .navigation > ul > li.has-submenu:hover:after {
	color: #fff;
}
.navigation > ul > li > a {
	display: block;
	padding: 15px 15px;
	color: #737373;
	font-size: 13px;
	text-decoration: none;
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	font-weight: 400;
	outline: 0 !important;
	border-bottom: 1px solid #F9F9F9;
}
.navigation > ul > li > a:hover {
	color: #3A4A87;
}
.navigation > ul > li.active:hover > a, .navigation > ul > li.active > a {
	color: #3A4A87;
	background: #EDF0F0;;
}
.navigation ul li a i {
	margin-right: 6px;
	font-size: 18px;
	width: 20px;
	float: left;
}
.collapsed .navigation ul li a i {
	float: none;
}
.navigation ul li a span{
	vertical-align: middle;
}
.navigation ul li ul {
	display: none;
	background-color: #f7f7f7;
	padding-bottom: 10px;
}
.navigation ul li ul li a {
    padding: 8px 25px 8px 45px;
    color: #51545e;
    text-decoration: none;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    font-size: 13px;
    border-left: 0 solid #75798B;
    text-align: left;
    display: block;
    outline: 0 !important;
}
.navigation ul li ul li a:hover {
	color: #586285;
}
.navigation ul li ul li.active a {
	color: #586285 !important;
}
header {
	background-color: #3a4a87;
	padding-top: 2px;
	padding-bottom: 2px;
	z-index: 9997;
	position: absolute;
	width: 100%;
}
.navbar-toggle {
	margin: 8px 20px 8px 13px;
	padding: 0;
	display: block;
	padding-left: 0 10px;
}
.navbar-toggle .icon-toggle {
	color:#fff;
	font-size: 24px;;
}
.nav-text{
	padding-right: 15px;;
}
.active-sm .list-unstyled{
	display: block !important;
} 

/*App Search*/
.app-search {
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 15px;
}
.app-search .form-control, .app-search .form-control:focus {
	border: none;
	font-size: 13px;
	color: #444;
	padding-left: 40px;
	background: #fff;
	box-shadow: none;
	border-radius: 34px;
	margin-top: 1px;
}
.app-search:before {
	content: "\f002";
	position: absolute;
	left: 12px;
	font-family: FontAwesome;
	cursor: pointer;
	top: 7px;
	color: #c4c4cd;
	display: inline-block;
}
.app-search .form-control::-moz-placeholder {
	color: #c4c4cd;
}

/*Nav Bar*/
.navbar-default .navbar-nav > li > a {
    color: #fff;;
}
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .top-nav .navbar-default .navbar-nav > .open > a {
	background: #edf1f2;
}
.dropdown .extended {
	width: 400px;
	padding: 0;
	margin-left: -1px;
	z-index: 3;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.1);
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	border: none;
	margin-top: 6px;;
}
.dropdown .extended li {
	border-bottom: 1px solid #f0f0f0;
	line-height: 20px;
}
.dropdown .extended li a {
	padding: 10px 20px !important;
}
.dropdown .extended i {
	float: left;
	width: 38px;
	margin-right: 10px;
	text-align: center;
	margin-top: 5px;
}
.dropdown .extended p {
	font-weight: 600;
	background-color: #E4E9ED;
	padding: 10px 15px 11px;
	margin-bottom: 0;
}
.dropdown .pro-menu {
	width: 200px;
}
.Leftmenu-trigger {
	cursor: pointer;
	font-size: 16px;
	line-height: 64px;
	padding: 0 15px 0 7px;
}
.badge.up {
	position: relative;
	top: -12px;
	padding: 3px 6px;
	margin-left: -13px;
}

.badge.up-menu {
	position: relative;
	top: -1px;
	float: right;
}

.top-nav ul.top-menu > li {
	margin-left: 10px;
}
.top-menu li {
	height: 100%;
	display: inline-block;
	position: relative;
	float: left;
	line-height: 50px;
	padding: 0;
}
.top-menu li > a {
	color: #fff;
	text-align: center;
	padding: 20px 15px;
	font-size: 16px;
}
.top-menu li > a:active, .top-menu li > a:focus, .top-menu li > a:hover {
	background-color: #121e4d;
}
.top-menu .dropdown-menu li {
	width: 100%;
	text-align: left !important;
}
.top-menu .dropdown-menu li a {
	font-size: 14px;
	text-align: left;
	padding: 5px 15px;
	color: #49586E;
	min-height: 45px;
}
.username {
	font-size: 14px;
	vertical-align: middle;
	margin-left: 3px;
}
.header-noti li a {
	font-size: 14px;
}

/*Content*/
.content {
	margin-left: 230px;
	height: 100%;
}
.content > .container-fluid {
	padding-left: 25px;
	padding-right: 25px;
}
.wraper {
	padding-top: 70px;
	padding-bottom: 20px;
	min-height: 100%;
}
.page-title {
	padding: 10px 0 30px;
}
.page-title h3 {
	margin: 0;
}
.footer {
	color: #58666e;
	padding: 20px 30px;
	font-weight: 600;
/*	background-color: #e6eaed;
	border-top: 1px solid #ddd;*/
	margin-top: -71px;
}


/* Tabs, Panels, Portlet */
.tabs-vertical-env {
	margin-bottom: 30px;
}
.tabs-vertical-env .tabs-vertical {
	min-width: 120px;
	width: 150px;
	background: #F9F9F9;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}
.tabs-vertical-env .nav.tabs-vertical.nav-tabs-right li.active > a{
	border-left:0;
	border-right: 2px solid #00ACED;
}
.tabs-vertical-env .nav.tabs-vertical, .tabs-vertical-env .tab-content {
	display: table-cell;
	vertical-align: top;
}
.panel-group .panel .panel-heading .accordion-toggle.collapsed:before, .panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
	content: '\f067';
}
.panel-group .panel .panel-heading .accordion-toggle:before, .panel-group .panel .panel-heading a[data-toggle=collapse]:before {
	float: right;
	display: block;
	content: '\f068';
	font-family: FontAwesome;
	font-size: 14px;
	width: 25px;
	text-align: right;
}
.panel-group .panel .panel-heading .accordion-toggle, .panel-group .panel .panel-heading a[data-toggle=collapse] {
	display: block;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
	width:93%;
	background-color: #F9F9F9;
	margin-bottom: 5px;
	text-align: center;
	white-space: nowrap;
}
.panel-group .panel .panel-heading+ .panel-collapse .panel-body {
	border-top: 1px solid #DDD;
	margin-top: 15px;
}
.panel-group-joined .panel-group .panel+ .panel, .panel-group.panel-group-joined .panel+ .panel {
	margin-top: 0;
	border-top: 1px solid #ddd;
}
.table > tbody > tr > td.middle-align, .table > tbody > tr > th.middle-align, .table > tfood > tr > td.middle-align, .table > tfood > tr > th.middle-align, .table > thead > tr > td.middle-align, .table > thead > tr > th.middle-align {
	vertical-align: middle;
}
.modal-content .nav.nav-tabs+ .tab-content, .modal-content .panel-group, .tabs-vertical-env .tab-content {
	margin-bottom: 0;
}
.modal-content .panel {
	border-top: none;
}
.portlet {
	margin-bottom: 20px;
	background: #fff;
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
	-webkit-transition: all .17s ease-in-out;
	-o-transition: all .17s ease-in-out;
}
.portlet .portlet-heading {
	padding: 20px 15px;
	line-height: 38px;
	min-height: 39px;
	border-radius: 2px 2px 0 0;
	color: #fff;
}
.portlet .portlet-heading .portlet-title {
	float: left;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 0;
}
.portlet .portlet-heading .portlet-widgets {
	position: relative;
	text-align: right;
	float: right;
	padding-left: 15px;
	display: inline-block;
	font-size: 15px;
	line-height: 0;
}
.portlet .portlet-body {
	background: #fff;
	padding: 15px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.portlet .portlet-heading .portlet-widgets .divider {
	margin: 0 5px;
}
.portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-inverse a, .portlet .portlet-heading.bg-pink a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-purple a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-warning a {
	color: #fff;
}
.portlet .portlet-heading a {
	color: #999;
}
.panel-reload {
	position: absolute;
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 15px;
	background: rgba(243,242,241,.5);
}
.portlet.expand{
	position: absolute;
	min-width: 400px;
	min-height: 100px;
	top:0;
	left:0;
  	right:0;
  	bottom:0;
  	margin:auto;
	z-index: 9999;
	
}
.blackground{
	background: rgba(0,0,0,.6);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9998;
	top:0;
	left:0;
}
.loader-1 {
	-webkit-animation: loaderAnimate 1000ms linear infinite;
	-moz-animation: loaderAnimate 1000ms linear infinite;
	-o-animation: loaderAnimate 1000ms linear infinite;
	animation: loaderAnimate 1000ms linear infinite;
	clip: rect(0,30px,30px,15px);
	height: 30px;
	width: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;
}@-webkit-keyframes loaderAnimate{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(220deg)}}@-moz-keyframes loaderAnimate{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(220deg)}}@-o-keyframes loaderAnimate{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(220deg)}}@keyframes loaderAnimate{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(220deg);-moz-transform:rotate(220deg);-ms-transform:rotate(220deg);transform:rotate(220deg)}}
lesshat-selector {
	-lh-property: 0;
}@-webkit-keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(140deg)}}@-moz-keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-moz-transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-moz-transform:rotate(140deg)}}@-o-keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-o-transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-o-transform:rotate(140deg)}}@keyframes loaderAnimate2{0%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(-140deg);-moz-transform:rotate(-140deg);-ms-transform:rotate(-140deg);transform:rotate(-140deg)}50%{box-shadow:inset #555 0 0 0 2px}100%{box-shadow:inset #555 0 0 0 8px;-webkit-transform:rotate(140deg);-moz-transform:rotate(140deg);-ms-transform:rotate(140deg);transform:rotate(140deg)}}
.loader-1:after {
	-webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
	-moz-animation: loaderAnimate2 1000ms ease-in-out infinite;
	-o-animation: loaderAnimate2 1000ms ease-in-out infinite;
	animation: loaderAnimate2 1000ms ease-in-out infinite;
	clip: rect(0,30px,30px,15px);
	content: '';
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: absolute;
}@keyframes loaderAnimate2{0%{box-shadow:inset #fff 0 0 0 17px;transform:rotate(-140deg)}50%{box-shadow:inset #fff 0 0 0 2px}100%{box-shadow:inset #fff 0 0 0 17px;transform:rotate(140deg)}}

/*Tiles CSS*/
.tile-stats {
	padding: 20px 0 0;
	position: relative;
	min-height: 128px;
	overflow: hidden;
	margin-bottom: 20px;
}
.tile-stats .status {
	margin-top: 0;
	padding: 0 20px 10px;
}
.status-ab {
	position: absolute;
	right: 0;
}
.mini-stat {
	background: #fff;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.mini-stat-icon {
	width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	float: left;
	margin-right: 10px;
	color: #fff;
}
.mini-stat-info {
	font-size: 12px;
	padding-top: 2px;
}
.mini-stat-info span {
	display: block;
	font-size: 24px;
	font-weight: 600;
}

/*Chat*/
.conversation-list {
	list-style: none;
	padding: 0 20px;
	max-height: 350px;
}
.conversation-list li {
	margin-bottom: 24px;
}
.conversation-list .chat-avatar {
	width: 40px;
	display: inline-block;
	text-align: center;
	float: left;
}
.conversation-list .chat-avatar img {
	width: 100%;
	border-radius: 100%;
}
.conversation-list .chat-avatar i {
	font-size: 12px;
	font-style: normal;
}
.conversation-list .chat-message i {
	display: block;
	font-style: normal;
	font-weight: 700;
	position: relative;
	font-size: 12px;
	color: #1a2942;
}
.conversation-list .conversation-text {
	display: inline-block;
	font-size: 12px;
	float: left;
	margin-left: 12px;
	width: 70%;
}
.conversation-list .chat-message {
	padding: 10px;
	background: #d5dce3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	display: inline-block;
}
.conversation-list .chat-message p {
	margin: 0;
	padding-top: 3px;
}
.conversation-list .chat-message:after {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213,242,239,0);
	border-right-color: #d5dce3;
	border-width: 5px;
	margin-top: -5px;
}
.conversation-list .odd .chat-avatar {
	float: right !important;
}
.conversation-list .odd .conversation-text {
	width: 70% !important;
	margin-right: 12px;
	text-align: right;
	float: right !important;
}
.conversation-list .odd .chat-message {
	background: #e8e9ec !important;
}
.conversation-list .odd .chat-message i {
	color: #acacac;
}
.conversation-list .odd .chat-message:after {
	left: 100% !important;
	top: 20% !important;
	border-color: rgba(238,238,242,0) !important;
	border-left-color: #e8e9ec !important;
}
.chat-send {
	padding-left: 0;
	padding-right: 30px;
}
.chat-send button {
	width: 100%;
}
.chat-inputbar {
	padding-left: 30px;
}

/*Todo App*/
.todoapp {
	padding: 10px 30px 20px !important;
}
.todo-list li {
	border: 0;
	margin: 0;
	border-radius: 0;
	border-bottom: 1px solid #eee;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.todo-list li:last-of-type {
	border-bottom: none;
}
.todo-send {
	padding-left: 0;
}

/*FullCalendar & Plugins*/
.calendar {
	margin-bottom: 0;
	float: left;
}
.fc-toolbar {
	margin-bottom: 5px;
}
.fc-toolbar h2 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
}
.fc-day {
	background: #FFF;
}
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active, .fc-toolbar .ui-state-hover, .fc-toolbar button:focus, .fc-toolbar button:hover {
	z-index: 0;
}
.fc-widget-content, .fc-widget-header {
	border: 1px solid #D5D5D5;
}
.fc th.fc-widget-header {
	background: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	padding: 10px 0;
}
.fc-button {
	border: 1px solid #D5D5D5;
	background: #FFF;
	color: #555;
	text-transform: capitalize;
}
.fc-text-arrow {
	font-family: arial;
	font-size: 16px;
}
.fc-state-hover {
	background: #F5F5F5;
}
.fc-cell-overlay, .fc-state-highlight {
	background: #F0F0F0;
}
.fc-unthemed .fc-today {
	background: #fff;
}
.fc-event {
	font-size: 13px;
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
	background: #1a2942;
	border: none;
	border-radius: 2px;
	cursor: move;
}
#external-events .fc-event {
	background: #31cade;
}
.new-event-form {
	margin-bottom: 20px;
}
.fc-ltr .fc-basic-view .fc-day-number {
	padding: 5px 6px;
}
.error {
	color: red;
}
/*.datepicker {*/
	/*border: 1px solid #ddd;*/
/*}*/
.search-input {
	margin-bottom: 10px;
}
.ms-selectable {
	outline: 0 !important;
	box-shadow: none;
}
.ms-container .ms-list.ms-focus {
	box-shadow: none;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
	background-color: #31cade;
}
.spinner-buttons.btn-group-vertical .btn {
	height: 17px;
	margin: 0;
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
	width: 22px;
}
.spinner-buttons.btn-group-vertical .btn i {
	margin-top: -3px;
	line-height: 10px;
}
.spinner-buttons.btn-group-vertical .btn:first-child {
	border-radius: 0 4px 0 0 !important;
	-webkit-border-radius: 0 4px 0 0 !important;
}
.spinner-buttons.btn-group-vertical .btn:last-child {
	border-radius: 0 0 4px !important;
	-webkit-border-radius: 0 0 4px !important;
}

/*Editor*/
.note-editor .note-toolbar {
	background-color: #f3f3f3;
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
}
.note-editor {
	position: relative;
	border: 1px solid #dfdfdf;
}
.note-editor .note-statusbar {
	background-color: #fff;
}
.note-editor .note-statusbar .note-resizebar {
	height: 15px;
	border-top: 1px solid #dfdfdf;
	padding-top: 3px;
}
.note-popover .popover .popover-content, .note-toolbar {
	padding: 5px 0 10px 5px;
}
.code-edit-wrap {
	padding-top: 0 !important;
	margin-left: -30px;
	margin-bottom: -20px;
	margin-right: -30px;
}
.cm-s-ambiance .CodeMirror-linenumber {
	color: #999;
}

/*Wizard CSS*/
.wizard > .content {
	background: #fff;
	min-height: 240px;
}
.wizard > .content > .body {
	padding: 0;
}
.wizard > .content > .body input {
	border: 1px solid #eee;
}
.wizard > .steps .number {
	display: inline-block;
	line-height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:active, .wizard > .steps .disabled a:hover {
	background: #f2f2f2;
	color: #323232;
	cursor: default;
}
.wizard > .content, .wizard > .steps a, .wizard > .steps a:active, .wizard > .steps a:hover {
	border-radius: 2px;
}
.wizard > .steps .current a, .wizard > .steps .current a:active, .wizard > .steps .current a:hover {
	background: #31cade;
}
.wizard > .steps .current a .number, .wizard > .steps .current a:active .number, .wizard > .steps .current a:hover .number {
	background: 0 0;
	color: #fff;
}
.wizard > .steps .done a, .wizard > .steps .done a:active, .wizard > .steps .done a:hover {
	background: #1a2942;
}
.wizard > .content > .body label.error {
	margin-left: 0;
	color: #e55957;
}
.wizard > .actions {
	margin-bottom: 30px;
}
.wizard > .actions a, .wizard > .actions a:active, .wizard > .actions a:hover {
	background: #31cade;
	color: #fff;
	border-radius: 2px;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:active, .wizard > .actions .disabled a:hover {
	background: #e2e2e2;
	color: #323232;
}
.wizard > .content > .body label {
	display: inline-block;
	margin-top: 10px;
}
.wizard > .content > .body ul > li {
	display: block;
	line-height: 30px;
}
/*.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {*/
	/*box-shadow: none;*/
	/*background-color: #1a2942 !important;*/
	/*background-image: none;*/
/*}*/

/*Data Table*/
#datatable td {
	/*color: #000000;*/
	font-weight: 400;
	vertical-align: middle;
}
#datatable .archive td:nth-child(n+2){
    /* opacity: 0.5; */
    color: #98a6adc2;
}
div.dataTables_paginate ul.pagination {
	margin-top: 30px;
}
div.dataTables_info {
	padding-top: 38px;
}
.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.dataTable td,.dataTable th {
    font-size: 13px;
}

/*Charts*/
/* .chart {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 110px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.chart.chart-widget-pie {
	margin-top: 5px;
	margin-bottom: 5px;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: .1em;
	font-size: .8em;
} */

/*Email App*/
.mails .mail-rateing {
	color: #9d9ea5;
	width: 1%;
}
.mails .mail-select {
	width: 1%;
}
.mails .label {
	margin-right: 10px;
}
.mail-list i {
	width: 20px;
	text-align: center;
}

/*Maps*/
.gmaps, .gmaps-panaroma {
	height: 300px;
	background: #1a2942;
	border-radius: 3px;
}
.gmaps-overlay {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	background: #1a2942;
	border-radius: 4px;
	padding: 10px 20px;
}
.gmaps-overlay_arrow {
	left: 50%;
	margin-left: -16px;
	width: 0;
	height: 0;
	position: absolute;
}
.gmaps-overlay_arrow.above {
	bottom: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #1a2942;
}
.gmaps-overlay_arrow.below {
	top: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #1a2942;
}
.vmap-space {
	width: 100%;
	height: 350px;
}
.jqvmap-zoomin, .jqvmap-zoomout, .jvectormap-zoomin, .jvectormap-zoomout {
	border: 1px solid #eaeaea;
	background: #fff;
	border-radius: 0;
	color: #545454;
	width: 28px;
	height: 28px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
.jqvmap-zoomin:hover, .jqvmap-zoomout:hover, .jvectormap-zoomin:hover, .jvectormap-zoomout:hover {
	background: #eaeaea;
}
.jqvmap-zoomin, .jvectormap-zoomin {
	position: absolute;
	top: 0;
}
.jqvmap-zoomout, .jvectormap-zoomout {
	position: absolute;
	top: 27px;
}

/*Social Icons*/
ul.social-icons {
	padding: 0;
	margin-left: 0;
}
ul.social-icons li {
	list-style: none;
	display: inline-block;
	margin-left: 5px;
}
ul.social-icons li:first-child {
	margin-left: 0;
}
ul.social-icons li a {
	display: inline-block;
	margin: 0;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-decoration: none;
	text-align: center;
	transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
	-webkit-transition: all .17s ease-in-out;
	-o-transition: all .17s ease-in-out;
}
ul.social-icons li a.facebook {
	background: #3e5ea2;
}
ul.social-icons li a.twitter {
	background: #2eb0e3;
}
ul.social-icons li a.github {
	background: #fff;
}
ul.social-icons li a.pinterest {
	background: #f43a2c;
}
ul.social-icons li a.google {
	background: #da5f2e;
}
ul.social-icons li a.youtube {
	background: #df2826;
}
ul.social-icons li a.linkedin {
	background: #107cb7;
}
ul.social-icons li a:hover {
	opacity: .8;
}
ul.social-icons li a i {
	color: #fff;
	font-size: 15px;
	line-height: 36px;
	transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
	-webkit-transition: all .17s ease-in-out;
	-o-transition: all .17s ease-in-out;
}

/*More*/
.item-info {
	margin-left: 15px;
	margin-bottom: 15px;
}
.item-info p {
	margin-bottom: 10px !important;
}
.profile-desk h1 {
	color: #49586e;
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.profile-desk .designation {
	color: #49586e;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 30px;
	display: inline-block;
}
.profile-desk p {
	line-height: 25px;
	margin-bottom: 40px;
}
.p-follow-btn {
	background: #eff0f4;
	color: #a4a4a4;
}
ul.p-social-link {
	list-style-type: none;
}
ul.p-social-link li {
	display: inline-block;
}
ul.p-social-link li a {
	background: #eff0f4;
	color: #bfbfc1;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	text-align: center;
}
.media-main a.pull-left {
	width: 100px;
}
.media-main .info {
	overflow: hidden;
	color: #000;
}
.media-main .info h4 {
	padding-top: 10px;
	margin-bottom: 5px;
}
.social-links li a {
	background: #EFF0F4;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #7A7676;
}
.wrapper-page {
	width: 380px;
	margin: 140px auto;
}
.user-thumb img {
	margin: 0 auto;
}
.ex-page-content h1 {
	font-size: 150px;
	line-height: 150px;
	font-weight: 700;
	color: #252932;
}
.sweet-alert p {
	font-size: 14px;
}

.owl-buttons {
	display: none;
}

.box-layout {
	display: table !important;
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
}
#flotTip {
	padding: 4px 8px;
	background-color: #000;
	z-index: 100;
	color: #FFF;
	opacity: .7;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.progress-animated {
	-webkit-transition: 5s all;
	-webkit-animation-duration: 5s;
	-webkit-animation-name: animationProgress;
	transition: 5s all;
	animation-duration: 5s;
	animation-name: animationProgress;
}@-webkit-keyframes animationProgress{
from {
	width: 0;
}}@keyframes
animationProgress {from{
	width: 0;
}}
.profile-tabs {
	background-color: #eee;
	padding-bottom: 1px;
}
.nav.nav-tabs.profile-tabs > li > a {
	border: none;
	margin-right: 0;
	padding: 15px 30px;
	font-size: 16px;
}
.nav.nav-tabs.profile-tabs > li > a i {
	margin-right: 10px;
}
.flot-chart {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
#legend {
	background: #fff;
	position: absolute;
	top: 0;
	right: 15px;
}
#legend .line {
	color: #333;
}
.inactive{
	display: none;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-progress {
	background: #31cade;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 3px;
}
.pace .pace-progress-inner {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #31cade, 0 0 5px #31cade;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0,-4px);
	-moz-transform: rotate(3deg) translate(0,-4px);
	-ms-transform: rotate(3deg) translate(0,-4px);
	-o-transform: rotate(3deg) translate(0,-4px);
	transform: rotate(3deg) translate(0,-4px);
}
.pace .pace-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 80px;
	right: 30px;
	width: 30px;
	height: 30px;
	border: 2px solid transparent;
	border-top-color: #31cade;
	border-left-color: #31cade;
	border-radius: 50px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}@-webkit-keyframes pace-spinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes pace-spinner{0%{-moz-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes pace-spinner{0%{-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes pace-spinner{0%{-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes pace-spinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}



/* Themes */

header.dark {
	background: #14082D;
}
header.red {
	background: #e01300;
}
header.red .top-menu li > a:hover{
	background: #bd0000;
}
header.green {
	background: #38b000;
}
header.green .top-menu li > a:hover{
	background: #009608;
}
header.yellow {
	background: #ffc800;
}
header.yellow .top-menu li > a:hover{
	background: #ffbb00;
}
header.pink{
	background: #ff0044;
}
header.pink .top-menu li > a:hover{
	background: #d40038;
}
header.purple{
	background: #5b00b0;
}
header.purple .top-menu li > a:hover{
	background: #4e0096;
}
header.acqua{
	background: #00b0a7;
}
header.acqua .top-menu li > a:hover{
	background: #008279;
}
header.grey{
	background: #c4c4c4;
}
header.grey .top-menu li > a:hover{
	background: #adacac;
}
header.white{
	background: #fff;
}
header.white .logo-expanded, header.white .navbar-toggle .icon-toggle, header.white .top-menu li > a{
	color:#121E4D !important;
}
header.white .top-menu li > a:hover{
	color:#fff !important;
}



/*Demo Options*/

.demo-options {
  z-index: 900;
  position: fixed;
  top: 128px;
  width: 188px;
  border: 0;
  box-shadow: none;
  padding: 0;
  border-bottom-left-radius: 2px;
  right: -188px;
  z-index: 1240;
  background: #fff;
  -webkit-transition: transform 0.15s ease;
  -o-transition: transform 0.15s ease;
  transition: transform 0.15s ease;
}
.demo-options.active {
  transform: translateX(-188px);
  -ms-transform: translateX(-188px);
  -o-transform: translateX(-188px);
  -webkit-transform: translateX(-188px);
}
.demo-options .demo-heading {
  padding: 16px 0px;
  font-size: 12px;
  line-height: 1.35;
  text-transform: uppercase;
  font-weight: 700;
  height: 48px;
  color: #616161;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}
.demo-options .demo-options-icon {
  display: inline-block;
  position: absolute;
  left: -47px;
  height: 48px;
  width: 48px;
  color: #616161;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #e0e0e0;
  letter-spacing: normal;
  text-transform: none;
  background-color: #fff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  top: 0;
  cursor: pointer;
  box-shadow: none;
}
.demo-options .demo-body {
  padding: 20px;
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  color: #616161;
}
.demo-options .demo-body .tabular {
  margin-bottom: 0;
}
.demo-options .demo-body .tabular .tabular-cell {
  height: 32px;
  font-size: 12px;
}
.demo-options .demo-body .tabular .tabular-cell.demo-switches {
  text-align: right;
}
.demo-options .demo-body .option-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
.demo-options .demo-body + .demo-body:last-child {
  border-bottom-left-radius: 2px;
  border-bottom: 1px solid #e0e0e0;
}
.demo-options .demo-color-list {
  padding: 0 !important;
  text-align: left;
  margin: 0 !important;
  font-size: 0;
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.demo-options .demo-color-list > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.demo-options .demo-color-list li {
  margin: 1px;
  padding: 0;
}
.demo-options .demo-color-list li span {
  border-radius: 50%;
  display: block;
  height: 16px !important;
  width: 16px !important;
}
.demo-options .demo-color-list li span:hover {
  cursor: pointer;
}
.demo-options .demo-color-list.text-center {
  text-align: center;
}
.demo-options .demo-color-list .default {
  background-color: #3A4A87;
}
.demo-options .demo-color-list .dark {
  background-color: #14082D;
}
.demo-options .demo-color-list .red {
  background-color: #e01300;
}
.demo-options .demo-color-list .green {
  background-color: #38b000;
}
.demo-options .demo-color-list .yellow {
  background-color: #3f51b5;
}
.demo-options .demo-color-list .pink {
  background-color: #d40038;
}
.demo-options .demo-color-list .purple {
  background-color: #4e0096;
}
.demo-options .demo-color-list .acqua {
  background-color: #00b0a7;
}
.demo-options .demo-color-list .grey {
  background-color: #adacac;
}
.demo-options .demo-color-list .white {
  background-color: #fff;
  border: 2px solid #D5DCE3;
}
.task-red div,.task-green div{
	width: 10px;
    height: 10px;
    display: block;
    border-radius: 50px;
    margin: 0 auto;
}
.task-red div{
	background-color: red;
}
.task-green div{
	background-color: green;
}
.firstColumn{
	padding: 10px !important;
    min-width: 30px !important;
    width: 30px !important;
}
#register #datatable th{
	padding-right: 8px;
    vertical-align: middle;
    text-align: center;
}
.status-blue{

}
.title small{
	font-size: 12px;
}
#datatable-filter{
	
}
#datatable-filter label{
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
#datatable-filter select{
	margin-right: 10px;
    display: inline-block;
    width: auto;
}
#dump{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99999;
}












.ui-autocomplete-input{
	z-index: 9999 !important;
}
.menu2{
	
	/*width:2500px;*/
	border-radius:3px;
	border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-right: 20px;
}
.menu2 table{
table-layout: fixed;	
}
.wrapper{

}
.menu2 tr {
	text-align: center;
}
.menu2 tr th:first-child{
	text-align: center;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	}
.menu2 tr th{
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 10px;
}
.bigbox { -ms-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); height: 28px; width: 28px } 
#menu{position: absolute; top: 0px;} 
/*
TextArea
*/
/**************************************************************/
/*ehs*/
.menu2 tr th.ehs,.simple-little-table tr td.ehs
{ padding-left: 0px;
	padding-right: 0px;
	width:105px;
	min-width: 105px;
	text-align: center;
}
/*Vidrabot*/

.menu2 tr th.Vidrabot,.simple-little-table tr td.Vidrabot{
	padding-left: 0px;
	padding-right: 0px;
	min-width:130px;
	width: 130px;}
/*Necessary*/
.menu2 tr th.Necessary{
	width: 285px;
	min-width:285px;
	text-align:center;
	
}

.simple-little-table tr td.Necessary{
	
	width: 285px;
	min-width:285px;
	text-align: justify;
	
}
/*Type_of_event*/
.menu2 tr th.Type_of_event,.simple-little-table tr td.Type_of_event{
	min-width:140px;
	width: 140px;
}
/*Status_of_compliance*/
.menu2 tr th.Status_of_compliance{
	min-width:70px;
	width: 70px;
}
.simple-little-table tr td.Status_of_compliance{
	padding: 0;
	min-width:119px;
	width: 119px;
}
.menu2 tr th.Status_of_compliance1{
	min-width:70px;
	width: 70px;
}
.simple-little-table tr td.Status_of_compliance1{
	padding: 0;
	min-width:119px;
	width: 119px;
}

/*Name_of_responcible*/
.menu2 tr th.Name_of_responcible,.simple-little-table tr td.Name_of_responcible{
	padding: 0px;
	min-width:120px;
	width: 120px;
}
/*Completion_Date*/
.menu2 tr th.Completion_Date,.simple-little-table tr td.Completion_Date,.simple-little-table tr td.Fact_Date{
	padding: 0px;
	min-width:124px;
	width:124px;
}
/*Actions*/
.menu2 tr th.Actions,.simple-little-table tr td.Actions,.simple-little-table tr td.no_Actions{
	padding: 0px;
	min-width:200px;
	width:200px;
	max-width: 200px;
	overflow-y: auto;
}


.simple-little-table tr td.Actions p,.simple-little-table tr td.no_Actions p{
	margin: 0;
	max-height: 200px;
}
/*Item_of_normative*/
.menu2 tr th.Item_of_normative,.simple-little-table tr td.Item_of_normative{
	min-width:100px;
	width:100px;
}

/*Source_of_requirement*/
.menu2 tr th.Source_of_requirement,.simple-little-table tr td.Source_of_requirement{
	min-width:100px;
	width:100px;
}
/*Name_of_normative*/
.menu2 tr th.Name_of_normative,.simple-little-table tr td.Name_of_normative{
	min-width:150px;
	width:150px;
}
/*Number_and_date*/
.menu2 tr th.Number_and_date,.simple-little-table tr td.Number_and_date{
	width:150px;
	min-width:150px;
}
/*.actual_matrix*/
.menu2 tr th.actual_matrix,.simple-little-table tr td.actual_matrix{
	min-width:150px;
	width:150px;
}

.menu{
	position: absolute;
	bottom:0px;
	right:0;
	left:18px;
	height: 30px;
}	
.menu ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu ul li{
	display:inline;
	margin-right:-5px;
}		
.menu a{
	font-family:Tahoma;
	color:#fff;
	padding:5px 20px;
	text-decoration:none;
	display:inline-block;
	border-left: solid 1px  #FFFFFF;
	line-height:20px;
}
.menu a:after{
	 border-left-width:0px;
}	
	.menu a:hover { 
	border-radius:5px 5px 0px 0px;	
	background-color:#fff;
	color:#AD2A18;
}		
.table-condensed{
    font-size: 12px;
}
/*.table-condensed tbody tr{*/
    /*height: 120px;*/
/*}*/
.table>thead>tr>th{
	vertical-align: middle;
	text-align: center;
}
.table>thead>tr>th>a{
	font-weight: 300;
}
.table tr td{
	vertical-align: middle !important;	
	position: relative;
}
.Necessary{

}
.header-fixed{
	position: fixed !important;
    top: 0px;
}
.header-fixed thead th{
    background-color: #FFF;
}
.header-fixed tbody{
	display: none;
}
.header-fixed tbody tr{

}
.header-fixed tbody td{
	border: 1px solid transparent !important;
}
.orange{
    background-color: #F39C12 !important;	
}
.w250{
    min-width: 250px !important;
    max-width: 250px !important;
}
.w350{
    min-width: 350px !important;
    max-width: 350px !important;
}
.w160{
    min-width: 160px !important;
    max-width: 160px !important;
}
.loader-wrapper{
    width: 100%;
    z-index: 99;
    position: absolute;
    background-color: #FFF;
    height: 100%;
}
.loader {
	border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.modal-header{

}
.modal-header p{
	margin: 0;
}
.modal-title {

}
.close {
    float: right;
    font-size: 21px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: none;
    filter: none;
    opacity: .3;
}
.help-block {
    font-size: 12px;
}
ul.header-filter{
	padding: 0;
    list-style-type: none;
}
ul.header-filter > li{
    display: inline-block;
    margin-right: 70px;
}
ul.header-filter > li .glyphicon{

}
ul.header-filter > li > a,
ul.header-filter > li > a:focus,
ul.header-filter > li > .dropdown > a,
ul.header-filter > li > .dropdown > a:focus{
	border-bottom: 1px dashed;
    color: #333;
    position: relative;
}
ul.header-filter > li > a:hover,
ul.header-filter > li > .dropdown > a:hover{
    color: #333;
	border-bottom: 1px dashed transparent;
	text-decoration: none;	
}
.arrow-down:after{
	content: "\e259";
    position: absolute;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 1;
    right: -15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:focus{
	text-decoration: none;	
	outline: none;	
}
#grafik {
    display: block;
    margin: 50px auto;
}
.has-error .wysihtml5-sandbox{
	border-color: #a94442 !important;
}
#demandModal{
	overflow-y: visible !important;
}
.disabled{
    color: #777;
    cursor: not-allowed;
    background-color: #eee;
}
.not-actual td{
	background-color: #cb2a2a !important;
}
.h-700 {
    height: 65vh;
    overflow-x: auto;
}
.btn{
	min-width: 38px;
}
#calendar-xls{
	position: fixed;
    z-index: 10;
    background-color: aquamarine;
    padding: 5px;
    right: 0px;
    top: 0px;
}
.report .filter input,.report .filter select{
	font-weight: 300;
}
.calendar-devider div{
	padding: 20px;
	border-bottom: 1px solid #ddd;
	min-height: 60px;
}
.calendar-devider div:last-child{
	border-bottom: none;	
}
.report [data-status] {
	padding: 20px;
    margin: 2px;
    min-height: 60px;
}
.attachment i{
	font-size: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
.matrix-info{
	position: fixed;
	top: 5px;
	left: 10px;
	z-index: 15;
}
.matrix-info i{
	font-size: 25px;
}
.matrix-info i:after{
	content: "";
    width: 12px;
    height: 18px;
    background-color: #FFF;
    position: absolute;
    left: 3px;
    top: 8px;
    z-index: -1;
    border-radius: 10px;
}
.overdue{
	background-color:rgba(255,0,0,0.3) !important;
}
/* .matrix-edit i:after{
	content: "";
    width: 12px;
    height: 18px;
    background-color: #FFF;
    position: absolute;
    left: 3px;
    top: 8px;
    z-index: -1;
    border-radius: 10px;
} */
.matrix-edit i:before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.matrix-edit{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 0;
	display: none;
}
.matrix-edit i{
	font-size: 16px;
    color: #000;
    background-color: #D3D3D3;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.report .table th, .report .table td{
	min-width: 110px;
    max-width: 110px;
    position: relative;
}
sup{
	color: red;
}
@media (max-width:769px){
	.wrapper-page {
		width: 100%;
	}
	.dropdown-backdrop{
		display: none;
	}
}
@media (max-width:970px){
	.footer{
		display: none;
	}
	.panel{
		width: max-content;
	}
	.panel.w-100{
		width: 100%;
	}
	section.content{
		overflow-x: scroll;
	}
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mt0{margin-top:0 !important;}
.mb0{margin-bottom:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.p5{padding:5px !important;}
.p0{padding:0px !important;}
.w50{width:50% !important;}
.w80{width:80% !important;}
.w90{width:90% !important;}
.w100{width:100% !important;max-width:100% !important;}
.fl{float:left !important;}
.fr{float:right !important;}