.one,.onet{
    background-color: rgb(28, 168, 221);;
}
.two,.twot{
    background-color: rgb(0, 255, 51);
}
.three,.threet{
    background-color: rgb(255, 255, 51);
}
.fourt,.four{
    background-color: rgb(255, 51, 0);
}
.fivet{
}

