.table {
    	table-layout: fixed; /* Фиксированная ширина ячеек */
    	/*width: 100%; /* Ширина таблицы */
      }

.table tr td {
    	width: 150px;
     		}

.container {
    /*width: 100%; */
    overflow: scroll;
}

