body, html {
    overflow-x: visible !important;
}
.ui-autocomplete-input{
	z-index: 9999 !important;
}
.menu2{
	
	/*width:2500px;*/
	border-radius:3px;
	border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	margin-left: 20px;
	margin-right: 20px;
}
.mnu2 table{
table-layout: fixed;	
}
.wrapper{

}
.menu2 tr {
	text-align: center;
}
.menu2 tr th:first-child{
	text-align: center;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	}
.menu2 tr th{
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 10px;
}
.bigbox { -ms-transform: scale(2); -moz-transform: scale(2); -o-transform: scale(2); height: 28px; width: 28px } 
#menu{position: absolute; top: 0px;} 
/*
TextArea
*/
/**************************************************************/
/*ehs*/
.menu2 tr th.ehs,.simple-little-table tr td.ehs
{ padding-left: 0px;
	padding-right: 0px;
	width:105px;
	min-width: 105px;
	text-align: center;
}
/*Vidrabot*/

.menu2 tr th.Vidrabot,.simple-little-table tr td.Vidrabot{
	padding-left: 0px;
	padding-right: 0px;
	min-width:130px;
	width: 130px;}
/*Necessary*/
.menu2 tr th.Necessary{
	width: 285px;
	min-width:285px;
	text-align:center;
	
}

.simple-little-table tr td.Necessary{
	
	width: 285px;
	min-width:285px;
	text-align: justify;
	
}
/*Type_of_event*/
.menu2 tr th.Type_of_event,.simple-little-table tr td.Type_of_event{
	min-width:140px;
	width: 140px;
}
/*Status_of_compliance*/
.menu2 tr th.Status_of_compliance{
	min-width:70px;
	width: 70px;
}
.simple-little-table tr td.Status_of_compliance{
	padding: 0;
	min-width:119px;
	width: 119px;
}
.menu2 tr th.Status_of_compliance1{
	min-width:70px;
	width: 70px;
}
.simple-little-table tr td.Status_of_compliance1{
	padding: 0;
	min-width:119px;
	width: 119px;
}

/*Name_of_responcible*/
.menu2 tr th.Name_of_responcible,.simple-little-table tr td.Name_of_responcible{
	padding: 0px;
	min-width:120px;
	width: 120px;
}
/*Completion_Date*/
.menu2 tr th.Completion_Date,.simple-little-table tr td.Completion_Date,.simple-little-table tr td.Fact_Date{
	padding: 0px;
	min-width:124px;
	width:124px;
}
/*Actions*/
.menu2 tr th.Actions,.simple-little-table tr td.Actions,.simple-little-table tr td.no_Actions{
	padding: 0px;
	min-width:200px;
	width:200px;
	max-width: 200px;
	overflow-y: auto;
}
.report th,.report td{
    padding: 5px !important;
    color: #000;
}


.simple-little-table tr td.Actions p,.simple-little-table tr td.no_Actions p{
	margin: 0;
	max-height: 200px;
}
/*Item_of_normative*/
.menu2 tr th.Item_of_normative,.simple-little-table tr td.Item_of_normative{
	min-width:100px;
	width:100px;
}

/*Source_of_requirement*/
.menu2 tr th.Source_of_requirement,.simple-little-table tr td.Source_of_requirement{
	min-width:100px;
	width:100px;
}
/*Name_of_normative*/
.menu2 tr th.Name_of_normative,.simple-little-table tr td.Name_of_normative{
	min-width:150px;
	width:150px;
}
/*Number_and_date*/
.menu2 tr th.Number_and_date,.simple-little-table tr td.Number_and_date{
	width:150px;
	min-width:150px;
}
/*.actual_matrix*/
.menu2 tr th.actual_matrix,.simple-little-table tr td.actual_matrix{
	min-width:150px;
	width:150px;
}

.menu{
position: absolute;
bottom:0px;
right:0;
left:18px;
height: 30px;
			}	
		.menu ul{
			list-style-type:none;
			margin:0px;
			padding:0px;
					}
		.menu ul li{
			display:inline;
			margin-right:-5px;
		}		
		.menu a{ 
			font-family:Tahoma;
			color:#fff;
			padding:5px 20px;
			text-decoration:none;
			display:inline-block;
			border-left: solid 1px  #FFFFFF;
			line-height:20px;
			}
	.menu a:after{
			 border-left-width:0px;
			}	
			.menu a:hover { 
			border-radius:5px 5px 0px 0px;	
			background-color:#fff;
			color:#AD2A18;
			}		

.table-condensed{
    font-size: 12px;
}
.table-condensed tbody tr{
   /* height: 120px; */
}
.table>thead>tr>th{
	vertical-align: middle;
	text-align: center;
}
.table tr td{
	vertical-align: middle !important;	
}
.Necessary{

}
.header-fixed{
	position: fixed !important;
    top: 0px;
}
.header-fixed thead th{
    background-color: #FFF;
}
.header-fixed tbody{
	display: none;
}
.header-fixed tbody tr{

}
.header-fixed tbody td{
	border: 1px solid transparent !important;
}
.orange{
    background-color: #F39C12 !important;	
}
.report th, .report td,.report input{
	min-width: 110px;
    max-width: 110px;
}
.w250,.w250 input{
    min-width: 250px !important;
    max-width: 250px !important;
}
.w200,.w200 input{
    min-width: 200px !important;
    max-width: 200px !important;
}
.w160,.w160 input{
    min-width: 150px !important;
    max-width: 150px !important;
}
.modal-header{

}
.modal-header p{
	margin: 0;
}
.modal-title {

}
.close {
    float: right;
    font-size: 21px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    text-shadow: none;
    filter: none;
    opacity: .3;
}
.help-block {
    font-size: 12px;
}
ul.header-filter{
	padding: 0;
    list-style-type: none;
    margin: 0;
}
ul.header-filter > li{
    display: inline-block;
    margin-right: 70px;
}
ul.header-filter > li .glyphicon{

}
ul.header-filter > li > a,
ul.header-filter > li > a:focus,
ul.header-filter > li > .dropdown > a,
ul.header-filter > li > .dropdown > a:focus{
	border-bottom: 1px dashed;
    color: #333;
    position: relative;
}
ul.header-filter > li > a:hover,
ul.header-filter > li > .dropdown > a:hover{
    color: #333;
	border-bottom: 1px dashed transparent;
	text-decoration: none;	
}
.report th{
	box-sizing: content-box;
}
.arrow-down:after{
	content: "\e259";
    position: absolute;
    top: 4px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 1;
    right: -15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:focus{
	text-decoration: none;	
	outline: none;	
}
#grafik {
    display: block;
    margin: 50px auto;
}
#calendar,#self-evaluation{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mt0{margin-top:0 !important;}
.mb0{margin-bottom:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.p5{padding:5px !important;}
.p0{padding:0px !important;}
.w50{width:50% !important;}
.w80{width:80% !important;}
.w90{width:90% !important;}
.w100{width:100% !important;}
.fl{float:left !important;}
.fr{float:right !important;}
.d-none{display: none; !important;}
.filter th {border-top: 0 !important;  }
.hg70{
	height: 70px;
}
.order_otchet th, .order_otchet td,.order_otchet input{
	min-width: 70px;
	max-width: 70px;
}
.w400{
	min-width: 450px !important;
	max-width: 450px !important;
}
.w140{
	min-width: 100px !important;
	 max-width: 140px !important;
 }
.w140 input{
	min-width: 100px !important;
	max-width: 150px !important;
}

.with100{
	min-width: 100px !important;
	max-width: 100px !important;
}


