#slideout {
  position: fixed;
  top: 5px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 1;
  width:15px;
  height:79px;
  background-color:white;

}
#slideout_inner {
  position: fixed;
  top: 5px;
  left: -160px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 1;
  background-color:white;
  width:161px;
  height:79px;
}
#slideout:hover {
  left: 160px;
}
#slideout:hover #slideout_inner {
  left: 0;
}

.slide_menu {
              transform: rotate(90deg);
              transform-origin: left top 1;
           }

