.table {
    	table-layout: fixed; /* Фиксированная ширина ячеек */
    	/*width: 100%; /* Ширина таблицы */
      }

.table tr td {
    	width: 200px;
     		}

.container {
    width: 100%; 
    overflow: hidden;
    overflow-x: auto;
}

.content {

    /* width: 100%; */
}



