.win {
    font-family: Arial,sans-serif;
    width: 70%;
    margin: 20px auto;
    background: white;
    padding: 0 50px 0 50px;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.formattext {
    line-height: 22px;
    text-indent: 2em;
    text-align: justify;
}
.headertext {
    line-height: 22px;
    color: #2b4279;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1em;
    margin-top: .1em;
}
table{
    border-collapse: collapse;
    width: 100%;
}